<md-dialog aria-label="Send Lisk"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send Lisk from {{vm.send.fromAddress}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <input ng-model="vm.send.toAddress" type="text" placeholder="Address" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="vm.send.amount" type="number" step="0.00000001" placeholder="Amount (LSK)" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="vm.send.passphrase" type="password" placeholder="Passphrase" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" ng-if="vm.send.secondSignature">
          <input ng-model="vm.send.secondpassphrase" type="password" placeholder="Second Passphrase" ng-required="true">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.answer(vm)">
        Send
      </md-button>
      <md-button ng-click="vm.answer(null)" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
