<md-dialog aria-label="Send Lisk"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send Lisk from {{send.data.fromAddress}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <md-autocomplete
            md-selected-item="send.data.toAccount"
            md-search-text="send.searchText"
            md-items="account in send.querySearch(send.searchText)"
            md-item-text="account.address"
            md-min-length="0"
            md-autofocus="true"
            md-floating-label="Type an address or a name">
            <md-item-template>
              <span class="item-title">
                <span> {{account.username||account.address}} </span>
              </span>
            </md-item-template>
          </md-autocomplete>
          <!-- <input ng-model="send.data.toAddress" type="text" placeholder="Address" ng-required="true" md-autofocus> -->
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="send.data.amount" type="number" step="0.00000001" placeholder="Amount (LSK)" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="send.data.passphrase" type="password" placeholder="Passphrase" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" ng-if="send.data.secondSignature">
          <input ng-model="secondpassphrase" type="password" placeholder="Second Passphrase" ng-required="true">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="send.next()">
        Next
      </md-button>
      <md-button ng-click="send.cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
