<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Lisk Client</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link href="../node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body id="app" ng-app="liskApp" layout="column" ng-controller="AccountController as ul" ng-cloak>

    <md-toolbar>
       <div class="md-toolbar-tools">
       <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Account List">
         <md-icon md-svg-icon="menu" ></md-icon>
       </md-button>
        <span>Lisk Client</span>
         <!-- fill up the space between left and right area -->
         <span flex></span>

         <md-menu>
           <md-button aria-label="Show network">
             <md-icon md-font-library="material-icons" md-colors="{'color' : ul.connectedPeer.isConnected?'green-50':'red' }" ng-click="ul.openMenu($mdOpenMenu, $event)">wifi</md-icon>
           </md-button>
            <md-menu-content flex layout-padding width="6">
                <md-list>
                  <md-list-item>
                    <b>Peer</b> <span class="md-secondary">{{ul.connectedPeer.ip}}</span>
                  </md-list-item>
                  <md-list-item>
                    <b>Height</b> <span class="md-secondary">{{ul.connectedPeer.height}}</span>
                  </md-list-item>
                  <md-list-item>
                    <b>Last checked</b> <span class="md-secondary">{{ul.connectedPeer.lastConnection | date:'shortTime'}}</span>
                  </md-list-item>
                  <md-list-item md-colors="{'background':'red' }" ng-if="!ul.connectedPeer.isConnected">
                    {{ul.connectedPeer.error}}
                  </md-list-item>
                  <md-list-item md-colors="{'background':'green' }" ng-if="ul.connectedPeer.isConnected">
                    <b>Delay</b> <span class="md-secondary">{{ul.connectedPeer.delay}}ms</span>
                  </md-list-item>
                </md-list>
            </md-menu-content>
          </md-menu>

          <md-menu>
            <md-button aria-label="Show market">
              <md-icon ng-if="ul.connectedPeer.market.change1h.usd>=0" md-colors="{'color' : 'green-200' }" md-font-library="material-icons" ng-click="ul.openMenu($mdOpenMenu, $event)">arrow_upward</md-icon>
              <md-icon ng-if="ul.connectedPeer.market.change1h.usd<0" md-colors="{'color' : 'red-200' }" md-font-library="material-icons" ng-click="ul.openMenu($mdOpenMenu, $event)">arrow_downward</md-icon>
            </md-button>
             <md-menu-content flex layout-padding width="6">
                 <md-list>
                   <md-list-item>
                     <b>Price</b> <span class="md-secondary">${{ul.connectedPeer.market.price.usd}}</span>
                   </md-list-item>
                   <md-list-item>
                     <b>Change 1h/7h/7d</b>
                     <span class="md-secondary">
                       <span md-colors="{'color' : ul.connectedPeer.market.change1h.usd>=0?'green':'red' }">{{ul.connectedPeer.market.change1h.usd}}%</span>
                       /
                       <span md-colors="{'color' : ul.connectedPeer.market.change7h.usd>=0?'green':'red' }">{{ul.connectedPeer.market.change7h.usd}}%</span>
                       /
                       <span md-colors="{'color' : ul.connectedPeer.market.change7d.usd>=0?'green':'red' }">{{ul.connectedPeer.market.change7d.usd}}%</span>
                     </span>
                   </md-list-item>
                   <md-list-item>
                     <b>Capitalisation</b> <span class="md-secondary">${{ul.connectedPeer.market.marketCap.usd}}</span>
                   </md-list-item>
                 </md-list>
             </md-menu-content>
           </md-menu>
         <md-button ng-click="ul.closeApp()">
           <md-icon md-font-library="material-icons">power_settings_new</md-icon>
         </md-button>
       </div>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-button class="md-fab" ng-click="ul.addAccount()" md-colors="{'background':'grey-300'}" style="position: absolute;right: 20px;">
            <md-icon md-font-library="material-icons">add</md-icon>
          </md-button>
          <md-list>
            <md-list-item>
              <h1>
                Accounts

              </h1>

            </md-list-item>
            <md-list-item ng-repeat="it in ul.accounts">
                <md-button ng-click="ul.selectAccount(it)" ng-class="{'selected' : it.address === ul.selected.address }">
                  {{it.username||it.address}} <md-icon ng-if="it.delegate" md-font-library="material-icons">security</md-icon>
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-card>
            <md-card-title>
              <md-card-title-media>
                <div class="md-media-sm card-media" layout layout-align="center center" >
                  <md-icon ng-if="!ul.selected.delegate" md-font-library="material-icons" ng-style="{'font-size': '48px', 'height':'48px', 'width':'48px'}">account_balance</md-icon>
                  <md-icon ng-if="ul.selected.delegate" md-font-library="material-icons" ng-style="{'font-size': '48px', 'height':'48px', 'width':'48px'}">security</md-icon>
                </div>
              </md-card-title-media>
              <md-card-title-text>
                <span class="md-headline">{{ul.selected.username||'Account'}} {{ul.selected.address}}</span>
                <span class="md-subhead description">Balance Ⱡ{{ul.selected.balance/100000000}} ~ ${{(ul.selected.balance/100000000*ul.connectedPeer.market.price.usd).toFixed(2)}}</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>


          <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.address }}">
            <md-icon md-font-library="material-icons">more_vert</md-icon>
          </md-button>

          <md-tabs md-dynamic-height>
            <md-tab label="Transactions">
                <md-table-container>
                  <table md-table>
                    <thead md-head md-order="query.order">
                      <tr md-row>
                        <th md-column md-numeric md-order-by="timestamp"><span>Date</span></th>
                        <th md-column md-order-by="label"><span>Type</span></th>
                        <th md-column md-numeric md-order-by="total">Total Ⱡ</th>
                        <th md-column md-numeric>From</th>
                        <th md-column md-numeric>To</th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row md-select="transaction" md-select-id="id" md-auto-select ng-repeat="it in ul.selected.transactions | orderBy: query.order">
                        <td md-cell>{{it.date | date: 'short'}}</td>
                        <td md-cell>{{it.label}}</td>
                        <td ng-if="it.total>=0" md-cell><md-button md-colors="{'background' : 'green-200' }">+{{(it.total/100000000).toFixed(2)}}</md-button></td>
                        <td ng-if="it.total<0" md-cell><md-button md-colors="{'background' : 'red-200' }">{{(it.total/100000000).toFixed(2)}}</md-button></td>
                        <td md-cell>{{it.senderId}}</td>
                        <td md-cell>{{it.recipientId}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
            </md-tab>

            <md-tab>
              <md-tab-label>
                Votes ({{ul.selectedVotes.length}}/101)
              </md-tab-label>
              <md-tab-body>
                <md-table-container>
                  <table md-table md-row-select multiple ng-model="ul.selectedVotes">
                    <thead md-head md-order="query.order">
                      <tr md-row>
                        <th md-column md-numeric md-order-by="rate"><span>Rank</span></th>
                        <th md-column md-order-by="username"><span>Username</span></th>
                        <th md-column><span>Address</span></th>
                        <th md-column md-numeric md-order-by="approval"><span>Approval</span></th>
                        <th md-column md-numeric md-order-by="productivity"><span>Productivity</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row md-select="it" md-select-id="id" md-auto-select ng-repeat="it in ul.selected.delegates | orderBy: query.order">
                        <td md-cell>{{it.rate}}</td>
                        <td md-cell>{{it.username}}</td>
                        <td md-cell>{{it.address}}</td>
                        <td md-cell>{{it.approval}}%</td>
                        <td md-cell>{{it.productivity}}%</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
              </md-tab-body>
            </md-tab>

            <md-tab ng-if="ul.selected.delegate">
              <md-tab-label>
                Delegate
                <md-icon md-colors="{'color' : 'red' }" ng-if="ul.selected.delegate.rate>101" md-font-library="material-icons">close</md-icon>
                <md-icon md-colors="{'color' : 'green' }" ng-if="ul.selected.delegate.rate<102" md-font-library="material-icons">check</md-icon>
              </md-tab-label>
              <md-tab-body>
                <md-list-item>
                  <h1>{{ul.selected.delegate.username}}</h1>
                </md-list-item>
                <md-list-item>
                  Rank {{ul.selected.delegate.rate}}
                </md-list-item>
                <md-list-item>
                  Approval {{ul.selected.delegate.approval}}%
                </md-list-item>
                <md-list-item>
                  Productivity {{ul.selected.delegate.productivity}}% - {{ul.selected.delegate.producedblocks}} produced blocks - {{ul.selected.delegate.missedblocks}} missed blocks
                </md-list-item>
              </md-list>
            </md-tab-body>
          </md-tab>

        </md-tabs>




    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script src="./src/accounts/Accounts.js"></script>
    <script src="./src/accounts/AccountController.js"></script>
    <script src="./src/accounts/AccountService.js"></script>
    <script src="./src/network/NetworkService.js"></script>


    <script type="text/javascript">

          angular
              .module('liskApp', ['ngMaterial', 'md.data.table', 'liskclient'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
